.slidingVertical {
    display: inline;
    text-indent: 8px;
}

.slidingVertical span {
    font-weight: 600;
    -webkit-animation: bottomToTop 9s cubic-bezier(0.6, 0.05, 0.4, 1) infinite 0s;
    animation: bottomToTop 8.1s cubic-bezier(0.6, 0.05, 0.4, 1) infinite 0s;
    color: #03e1ff;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.slidingVertical span:nth-child(1) {
    animation-delay: 0s;
}
.slidingVertical span:nth-child(2) {
    animation-delay: 2s;
}
.slidingVertical span:nth-child(3) {
    animation-delay: 4s;
}
.slidingVertical span:nth-child(4) {
    animation-delay: 6s;
}

@-webkit-keyframes bottomToTop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bottomToTop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(-20px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
